#CreateProduct {
    position: relative;
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 14px;
    border: 2px solid #353954;
    box-shadow: inset 0px 0px 14px 1px #353954;
}

.DivGroup {
    width: 100%;
    padding: 14px;
}

.label {
    font-weight: 500;
    color: white;
    font-size: large;
    display: inline-block;
    text-shadow: 0 0 2px gold;
    padding-bottom: 1px;
}

input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    color: darkblue;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    font-weight: bolder;
    background: transparent;
    box-sizing: border-box;
}

input:focus {
    box-shadow: inset 0 0 10px 1px #2D3146;
}

#CreateSubmitButton {
    padding: 14px;
    background-color: #2d314679;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    color: green;
}

#CreateSubmitButton:hover {
    scale: 1.1;
    background-color: #16171C;
    transition: 126ms all ease-in-out;
}

#Buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#HomeBtn {
    top: 0;
    right: 14px;
    /* position: absolute; */
    border-radius: 14px;
    padding: 14px;
    font-size: 14px;
    color: white;
    font-weight: bolder;
    font-style: italic;
    background: #2D3146;
    cursor: pointer;
}

#HomeBtn:hover {
    right: 14px;
    background-color: blue;
    transition: all 0.5s ease-in-out;
}