* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}


#MainApp {
    min-height: 100vh;
    width: 100%;
    background-image: url("./assets/Obito_5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}